* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    background-color: white;
}

.logo img {
    width: 120px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.register-btn {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
}

.hero{
    height:90vh;

    background-image:url("B14-A01-DevConf-2026/assets/banner.jpg");

    background-size:cover;

    background-position:center;

    position:relative;
}


.hero-btn {
    margin-top: 50px;
    background-color: #2563eb;
    color:white
    border:none
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
}

.overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.6);

}

.hero-content{

    position:relative;

    z-index:1;

    height:100%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    color:white;

    text-align:center;

}.speakers {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}

.speakers h2 {
    text-align: center;
    margin-bottom: 30px;
}

.speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.speaker-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.speaker-card h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.speaker-card p {
    margin-top: 0;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#fff;
}

.pricing{
    width:100%;
    padding:80px 8%;
}

.heading{
    text-align:center;
    margin-bottom:60px;
}

.heading h1{
    font-size:60px;
    color:#162337;
    font-weight:700;
}

.heading p{
    margin-top:15px;
    color:#666;
    font-size:20px;
}

.pricing-container{
    display:flex;
    justify-content:center;
    gap:30px;
}

.card{
    width:360px;
    padding:35px;
    border:1px solid #ddd;
    border-radius:15px;
    background:white;
}

.card h5{
    color:#777;
    margin-bottom:15px;
}

.card h2{
    font-size:60px;
    color:#162337;
}

.card span{
    color:#777;
}

.card hr{
    margin:25px 0;
}

.card ul{
    list-style:none;
}

.card ul li{
    margin:18px 0;
    color:#444;
    position:relative;
    padding-left:18px;
}

.card ul li::before{
    content:"•";
    color:#2563eb;
    position:absolute;
    left:0;
}

.card button{
    width:100%;
    padding:15px;
    margin-top:25px;
    border-radius:10px;
    border:2px solid #2563eb;
    background:white;
    color:#2563eb;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

.active{
    background:#0f1b2d;
    color:white;
}

.active h2,
.active span,
.active li,
.active h5{
    color:white;
}

.active button{
    background:#2563eb;
    color:white;
    border:none;
}
    



